<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="kecskesk.javaEightPlugin.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="kecskesk.javaEightPlugin.commands.category"
            id="kecskesk.javaEightPlugin.commands.sampleCommand">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+R"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
          commandId="kecskesk.javaEightPlugin.commands.sampleCommand"/>
	</extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="kecskesk.javaEightPlugin.commands.sampleCommand"
            class="kecskesk.javaeightplugin.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="kecskesk.javaEightPlugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

</plugin>
